* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: 0;
  padding: 0;
}
.icono {
  width: 100px;
  margin: 5px;
}
.header {
  background: rgb(123,163,222);
background: linear-gradient(0deg, rgba(123,163,222,1) 1%, rgba(42,30,138,1) 90%);
  margin: 0px;
  padding: 0;
  a {
    margin: 5px;
    margin-top: -5px;
    color: white;
    white-space: nowrap;
  }
}
.container {
  margin-top: 10px;
}

.footer {
  background: rgb(42,30,138);
  background: linear-gradient(0deg, rgba(42,30,138,1) 1%, rgba(123,163,222,1) 90%);
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  bottom: 0;    
  a {
    margin: 10px;
    color: white;
    white-space: nowrap;
  }
}

.footer ul {
  margin: 5px;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer li :hover {
  color: grey;
}
.icono-p {
  width: 30px;
}
.row {
  width: 100%;
  max-width: 1110px;
  margin: 56px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.menu-ingresar {
  li {
    a {
      color: gray;
      display: block;
      max-width: 90%;
    }
  }
}
.boton-buscar{
a{
  color: white;
  text-decoration: none;
}
}

.boton-suscribete{
margin-right: 5px;
  button{
    color:white;
    border-color: white;
  }

}
.boton-suscribete:hover{
    color:grey;
    border-color: grey;
}
.icono-suscribete{
  width: 20px;
  margin: 5px;
}
.modal{
img{
  width: 20px;
}
}
.container{
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}
.boton-ver-mas{
border-radius: 1%;
  a{
    text-decoration: none;
  }
  img{
    width: 20px;
    margin: 2px;
  }
  }
.card-footer{

  img{
    width: 20px;
    margin: 2px;
  }
}

.tamanio-tarjeta {
  width: 18rem;
  margin: 10px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 500px) {
  .media-form {
    width: 100%;
  }

  .tamanio-tarjeta {
    width: 100%;
  }
}
.card-imagen{
  height: 100%;
  object-fit: cover;
}

