* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
.container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    
    christian{
        
       width: 100px;
       height: 100px;
       color: white;
       border: solid red;
       label{
        color: white;
       }
       
    }
    Carlos{
        background-color: blue;
    }
    Martin{
        background-color: green;
    }
  }
  @media (max-width: 500px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .media-form {
        width: 100%;
      }
    
      .tamanio-tarjeta {
        width: 100%;
      }
  }

  
